{% extends "base.html" %}
{% load static i18n %}
{% block body %}
<div class="hub-landing">
  <div class="hub-brand">
    <img src="{% static 'img/vantor_h_w.svg' %}" alt="Vantor" />
  </div>
  <div class="hub-card">
    <h1>Log in</h1>
    {% if form.errors and not form.non_field_errors %}
      <p class="errornote">{% if form.errors.items|length == 1 %}{% translate "Please correct the error below." %}{% else %}{% translate "Please correct the errors below." %}{% endif %}</p>
    {% endif %}
    {% if form.non_field_errors %}
      {% for error in form.non_field_errors %}
        <p class="errornote">{{ error }}</p>
      {% endfor %}
    {% endif %}
    <form method="post" action="{% url 'openmaps_login' %}">
      {% csrf_token %}
      <label for="{{ form.username.id_for_label }}">Username</label>
      {{ form.username }}
      <label for="{{ form.password.id_for_label }}">Password</label>
      {{ form.password }}
      <input class="hub-primary-button" type="submit" value="{% translate 'Log in' %}" />
    </form>
  </div>
</div>
{% endblock body %}
